.book-info {
  height: 1586px;

  .title {
    max-width: 450px;
    margin-inline: auto;
    padding-top: 235px;
    display: flex;
    gap: 1rem;
  }

  p {
    max-width: 450px;
    margin-inline: auto;
    text-align: center;
  }

  .book {
    display: flex;
    justify-content: center;
    padding-block: 222px;
    position: relative;

    &:hover {
      .pin-with-text {
        top: 15%;
        left: 19%;
        transition: all;
        transition-duration: 1s;
      }

      .pin {
        bottom: 12%;
        left: 20%;
        transition: all;
        transition-duration: 1s;
      }

      .bookmark-yellow {
        top: 13%;
        right: 26%;
        rotate: 10deg;
        transition: all;
        transition-duration: 1s;
      }

      .bookmark-purple {
        top: 25%;
        right: 19%;
        rotate: 18deg;
        transition: all;
        transition-duration: 1s;
      }

      .book-mark-text {
        bottom: 10%;
        right: 22%;
        transition: all;
        transition-duration: 1s;
      }
    }

    .pin-with-text {
      position: absolute;
      top: 30%;
      left: 40%;
      z-index: 2;
    }

    .pin {
      position: absolute;
      bottom: 20%;
      left: 40%;
      z-index: 2;
    }

    .book-main {
      width: 467px;
      height: 617px;
      z-index: 3;
    }

    .bookmark-yellow {
      width: 172px;
      height: 536px;
      rotate: 0deg;
      position: absolute;
      top: 25%;
      right: 35%;
      z-index: 2;
    }

    .bookmark-purple {
      width: 172px;
      height: 536px;
      rotate: 0deg;
      position: absolute;
      top: 25%;
      right: 35%;
      z-index: 1;
    }

    .book-mark-text {
      position: absolute;
      bottom: 25%;
      right: 35%;
      z-index: 2;
    }
  }
}
