.price {
  max-width: 1050px;
  margin-inline: auto;

  &:hover {
    .cards {
      .card {
        &.mensal {
          rotate: -10deg;
          top: 7%;
          left: 10%;
          transition: all;
          transition-duration: 1s;
        }

        &.anual {
          rotate: 10deg;
          top: 7%;
          right: 10%;
          transition: all;
          transition-duration: 1s;
        }
      }
    }
  }

  .title {
    max-width: 294px;
    margin-inline: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 56px;
  }

  .cards {
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
    position: relative;

    .card {
      background: var(--shape-hover);
      padding: 32px;
      border-radius: 24px;
      z-index: 2;
      height: 416px;
      width: 288px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 2px solid var(--shape-hover);

      .head {
        display: flex;
        justify-content: space-between;

        p {
          font: var(--title-xs);
          color: var(--pink-light);
        }

        span {
          font: var(--tag);
          color: var(--text-body);
          display: flex;
          justify-content: center;
          padding: 9px 20px;
          width: 90px;
          background: var(--shape-stroke);
          border-radius: 999px;
        }
      }

      .price-tag {
        padding-top: 24px;

        span {
          font: var(--title-xs);
        }

        p {
          font: var(--body-sm);
          color: var(--text-label);
        }
      }

      .list {
        font: var(--body-xs);
        color: var(--text-body);
        list-style: none;
        display: grid;
        gap: 12px;
        padding-bottom: 24px;

        li {
          background: url(../assets/icons/star.svg) no-repeat;
          background-size: 14px;
          padding-left: 1.5rem;
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 224px;
        height: 40px;

        background: --pink-dark;
        border-radius: 8px;
      }

      &.mensal,
      &.anual {
        background: var(--shape-base);
        z-index: 1;
        position: absolute;

        .head {
          p {
            color: var(--blue-light);
          }
        }

        .list {
          li {
            background: url(../assets/icons/star-blue.svg) no-repeat;
            background-size: 14px;
            padding-left: 1.5rem;
          }
        }

        .button {
          background: var(--blue-dark);
        }
      }

      &.mensal {
        rotate: 0deg;
        top: 0%;
        left: 36%;
      }

      &.anual {
        rotate: 0deg;
        top: 0%;
        right: 36%;
      }
    }
  }
}
